@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@layer utilities {
  .container {
    margin: auto;
    padding: 0 16px;
  }
}
body {
  @apply font-primary;
}
@theme {
  --color-brand: #008ecc;
  --color-primary: #666666;
  --color-secodary: #f5f5f5;
  --color-third: #f3f9fb;
  --color-themey: #fff;
  --font-primary: "Roboto", sans-serif;
}

.slick-dots {
  bottom: 10px !important;
  left: 20px !important;
  display: flex !important;
  justify-content: start;
  align-items: start;
  list-style: none;
}

.slick-dots li {
  margin: 0 5px;
  transition: all 0.3s ease;
}

.slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  background: #cbd5e1 !important;
  border-radius: 50% !important;
  content: "" !important;
  padding: 0 !important;
  transition: all 0.3s ease;
}

.slick-dots li button:before {
  display: none !important;
}

.slick-dots li.slick-active {
  width: 30px !important;
}

.slick-dots li.slick-active button {
  width: 100% !important;
  background: white !important;
  border-radius: 10px !important;
}

/* Mobile Responsiveness for Slick Dots */
@media (max-width: 640px) {
  .slick-dots {
    bottom: 5px !important;
    left: 0 !important;
    width: 100%;
    justify-content: center !important;
  }

  .slick-dots li {
    margin: 0 3px;
  }

  .slick-dots li button {
    width: 8px !important;
    height: 8px !important;
  }

  .slick-dots li.slick-active {
    width: 20px !important;
  }
}

@layer components {
  .heading {
    @apply font-bold sm:text-2xl text-sm text-primary;
  }
  .heading span {
    @apply font-bold sm:text-2xl  text-sm text-brand;
  }
}
